@model WebApplication2.Models.LoginViewModel;


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetail</title>
</head>
<body>
    <h2>User Detail</h2>
    <div>
        Username : @Model.Username
    </div>
    <div>
        Password : @Model.Password
    </div>
</body>
</html>
