@model WebApplication2.Models.LoginViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StronglyTypeLogin</title>
</head>
<body>
    @using (Html.BeginForm("LoginPostStrongly", "Account", FormMethod.Post))
    {
        <div>
            Username : @Html.TextBoxFor(m => m.Username)
        </div>
        <div>
            Password : @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    }
</body>
</html>
